---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Services from '../components/Services.astro';
import Process from '../components/Process.astro';
import Portfolio from '../components/Portfolio.astro';
import Pricing from '../components/Pricing.astro';
import CTA from '../components/CTA.astro'; 


// Kita siapkan judul untuk halaman ini
const pageTitle = "Zaidly Agency - Solusi Website UMKM";
---

<Layout title={pageTitle}>
  <Header /> <main>
    <Hero />
	<About />
	<Services />
    <Process />
	<Portfolio />
<Pricing />
<CTA />
</main>
</Layout>